*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    vertical-align: top;
    border: 0;
}
.clear::after{
    display: table;
    content: "";
    clear: both;
}
body{
    color: #222328;
    background: #fff;
}
.wrap{
    width: 1000px;
    height: 650px;
}

/*--------------modal-------------*/

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}
.modal .modal_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    background: #fff;
    box-sizing: border-box;
    padding: 30px;
}
.modal .modal_popup h2{
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #222328;
}
.modal .modal_popup p{
    margin-top: 10px;
    line-height: 25px;
    height: 230px;
}
.modal .modal_popup button{
    float: right;
    width: 100px;
    height: 40px;
}

/*--------------header-------------*/

header{
    width: 200px;
    height: 650px;
    background: #eee;
    float: left;
}
header h2{
    margin: 20px 0;
}

/*--------------nav-------------*/

nav{
    padding: 10px;
    box-sizing: border-box;
}
nav ul.gnb{
    text-align: center;
    position: relative;
}

nav ul.gnb li{
    font-size: 20px;
    line-height: 40px;
    background: #fff;
}
nav ul.gnb li a{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #377dfe;
    border-bottom: 0;
}
nav ul.gnb li:last-child a{
    border-bottom: 1px solid #377dfe;
}
nav ul.gnb li:hover a{
    background: #377dfe;
    color: #fff;
}
nav ul.gnb li ul.sub{
    position: absolute;
    top:-30px;
    left: 180px;
    width: 200px;
    z-index: 10;
    display: none;
}
nav ul.gnb li ul.sub .sub_bg{
    width: 200px;
    height: 200px;
    background: #377dfe;
}

nav ul.gnb li ul.sub li{
    font-size: 15px;
    line-height: 30px;
    background: #377dfe;
    color: #fff;
}
nav ul.gnb li ul.sub li a{
    display: block;
    width: 100%;
    border: 0;
}
nav ul.gnb li ul.sub li a:hover{
    background: #fff;
    color: #377dfe;
}

/*--------------contents-------------*/

.contents{
    width: 800px;
    height: 650px;
    background: #ddd;
    float: left;
}

/*--------------slide-------------*/

.slide{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.slide ul li{
    position: absolute;
}

/*--------------con-------------*/

.con{
    width: 100%;
    height: 200px;
    background: #eee; 
}
.con section{
    float: left;
}
.con section h2{
    width: 200px;
    height: 30px;
    line-height: 30px;
    background: #377dfe;
    color: #fff;
    text-align: center;
}

/*--------------notice-------------*/

.notice{
    width: 400px;
}
.notice ul{
    box-sizing: border-box;
    padding: 10px;
}
.notice ul li{
    font-size: 13px;
    height: 24px;
    line-height: 24px;
}
.notice ul li a{
    display: block;
    width: 100%;
}
.notice ul li a:hover{
    color: #377dfe;
}
.notice ul li a .day{
    float: right;
    font-size: 11px;
}

/*--------------gal-------------*/

.gal{
    width: 200px;
}
.gal ul{
    margin-top: 45px;
}
.gal ul li{
    float: left;
    margin-left: 5px;
}
.gal ul li:hover{
    opacity: 0.5;
}
.gal ul li a img{
    width: 60px;
}

/*--------------banner-------------*/

.banner{
    width: 200px;
}


/*--------------footer-------------*/

footer{
    width: 100%;
    height: 100px;
    background: #eee;
}
footer h2{
    float: left;
    width: 250px;
    padding: 30px 25px;
    box-sizing: border-box;
}
footer .menu_copy{
    float: left;
    width: 550px;
}
footer .menu_copy .menu{
    width: 550px;
    height: 50px;
    line-height: 50px;
    color: #888;
}
footer .menu_copy .menu ul li{
    float: left;
    margin-right: 20px;
}

footer .menu_copy .copy{
    width: 550px;
    height: 50px;
    font-size: 10px;
    color: #888;
}
footer .menu_copy .copy ul li{
    float: left;
    margin-right: 20px;
}







