*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    vertical-align: top;
    border: 0;
}
.clear::after{
    display: table;
    content: "";
    clear: both;
}
i,em,address{
    font-style: normal;
}
body{
    width: 100%;
    font-size: 15px;
    line-height: 1;
    color: #333;
    background: #fff;
}
.warp{
    width:1200px;
    margin: 0 auto;
}

/*----------modal----------*/

.modal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 15;
    display: none;
}
.modal .modal_popup{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: #fff;
    margin-top: 200px;
    padding: 50px;
}
.modal .modal_popup h2{
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #434748;
}

.modal .modal_popup p{
    height: 220px;
    line-height: 20px;
    margin-top: 10px;
}
.modal .modal_popup button{
    display: block;
    float: right;
    width: 80px;
    height: 20px;
    line-height: 20px;
}

/*----------header----------*/

header{
    width: 100%;
    height: 100px;
    background: #fff;
    position: relative;
    z-index: 10;
}
header h1{
    float: left;
    padding-top: 30px;
}
header nav{
    float: right;
    width: 800px;
    padding-top: 50px;
    padding-right: 20px;
}
header nav .nav_gnb{
    width: 100%;
    height: 120px;
    background: #3cb149;
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
}
header nav ul.gnb{
    width: 100%;
    text-align: center;
}
header nav ul.gnb>li{
    width: 25%;
    float: left;
    position: relative;
}
header nav ul.gnb>li>a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px solid #434748;
    border-left: 0;
}
header nav ul.gnb>li:first-child>a{
    box-sizing: border-box;
    border-left: 1px solid #434748;
}
header nav ul.gnb>li:hover>a{
    background: #434748;
    color: #fff;
}
header nav ul.gnb>li>ul.sub{
    width: 100%;
    line-height:40px; 
    position: absolute;
    top: 50px;
    display: none;
}
header nav ul.gnb>li>ul.sub>li{
    height: 40px;
    color: #fff;
}
header nav ul.gnb>li>ul.sub>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
header nav ul.gnb>li>ul.sub>li:hover>a{
    background: #fff;
    color: #434748;
}



/*----------slide----------*/

.slide{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    background: #ccc;
}
.slide li{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    text-indent: -9999px;
}
.slide li:nth-child(1){
    background-image: url(../img/banner1.jpg);
}
.slide li:nth-child(2){
    background-image: url(../img/banner2.jpg);
    left: -1200px;
}
.slide li:nth-child(3){
    background-image: url(../img/banner3.jpg);
}

/*----------contents----------*/

.contents{
    width: 100%;
    height: 200px;
    background: #ccc;
}
.contents section{
    float: left;
}

.contents .notice{
    width: 400px;
}
.contents .notice>h2{
    font-size: 20px;
    width: 200px;
    background: #3cb149;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #3cb149;
    border-bottom: 0;
    text-align: center;
    line-height: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.contents .notice ul{
    font-size: 13px;
    height: 170px;
    box-sizing: border-box;
    border:1px solid #434748;
    background: #fff;
}
.contents .notice ul>li{
    height: 28px;
    line-height: 28px;
    margin-left: 10px;
}
.contents .notice ul>li>a{
    display: block;
    width: 100%;
}
.contents .notice ul>li>a:hover{
    color: #ccc;
}
.contents .notice ul>li .day{
    float: right;
    font-size: 10px;
    margin-right: 10px;
}

.contents .gal{
    width: 400px;
}
.contents .gal>h2{
    font-size: 20px;
    width: 200px;
    background: #3cb149;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #3cb149;
    border-bottom: 0;
    text-align: center;
    line-height: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.contents .gal ul{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 39px;
    height: 170px;
    box-sizing: border-box;
    border:1px solid #434748;
    border-left: 0;
    background: #fff;
}
.contents .gal ul>li{
    float: left;
    margin-left: 10px;
    height: 170px;
}
.contents .gal ul>li:first-child{
    margin-left: 0;
}
.contents .gal ul>li a img{
    width: 100px;
}
.contents .gal ul>li a:hover img{
    opacity: 0.8;
}

.contents .sub_banner{
    width: 400px;
    height: 200px;
}
.contents .sub_banner a:hover{
    opacity: 0.5;
}

/*----------footer----------*/

footer{
    width: 100%;
    height: 100px;
    background: #ddd;
    position: relative;
}
footer h1{
    position: absolute;
    top: 30px;
    left: 0;
    width: 200px;
}
footer .copy{
    position: absolute;
    top: 20px;
    left: 200px;
    width:760px;
    font-size: 13px;
    line-height: 15px;
    padding: 0 20px;
}
footer .family{
    position: absolute;
    top: 0;
    left: 1000px;
    width:200px;
    height: 100px;
    box-sizing: border-box;
    border-left: 1px solid #434748;
}
footer .family p{
    font-size: 20px;
    width: 100%;
    background: #3cb149;
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 30px;
}
footer .family ul{
    width: 100%;
}
footer .family ul>li{
    float: left;
    width: calc(100%/3);
    text-align: center;
    height: 70px;
    line-height: 70px;
}
    








